
  <nav class="light-red lighten-1" role="navigation">  
    <div class="nav-wrapper container center"><a href= "#"><img class="responsive-img" src="assets/img/we-logo.png" alt="Eat Da Burger Icon"></a> 
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      
      <h1 class="header center red-text">Go Green or Go Home!</h1>
      <div class="row center">
        <h5 class="header col s12 light">centered text</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
       <div class="row">
        <div class="col s12 m4">
          <h5 class="center">left containter</h5>
            <p class="light">



<table>
    <tr>
        <th>Ranks Table</th>
    </tr>
    {{#each ranks}}
        <tr>
            <td>{{this.rank2015}}</td>
            <td>{{this.metroArea}}</td>
            <td>{{this.totalPop}}</td>
            <td>{{this.under18}}</td>
            <td>{{this.over65}}</td>
            <td>{{this.pedAsthma}}</td>
            <td>{{this.adultAsthma}}</td>
        </tr>
    {{/each}}
</table>
          
        </p>
        </div>

        <div class="col s12 m4">
          <div class="row">
            <h5 class="center">center column</h5>
  
              
          </div>
        </div>
  
          </div>
        </div>
      </div>  {{!--end container--}}
 
  <footer class="page-footer green">
  
    <div class="footer-copyright">
      <div class="container">
      <a class="white-text text-lighten-3" href="https://github.com/GeekInterrupted/projectwe">Project WE in Github</a>
      </div>
    </div>
  </footer>


  